*{
 text-align:center;
 font-family: 'Merriweather', serif;
}
p{
  font-size:20px;
}
#nav_bar{
  display:flex;
  text-align: center;
}
#nav_bar li{
  display:flex;
  font-size: 20px;
  text-decoration: none;
  margin: 50px;
}
ul{
  text-decoration: none;
  display:flex;
}
body{
   background: linear-gradient(#f2fcfe
,#1c92d2);
}
ol{
 margin:60px;
 text-decoration:none
}

  
