---
layout: default 
---

<div id="slideshow"> 
<!--placeholder--> 
</div> 

<div id="summary">  
  <h1> STEM SUMMARY </h1> 
  <p> hello world! </p> 
  </div>
  
  <div id="reminders"> 
<h1> REMINDERS OR UPDATES </h1> 
<p> We should update every one to two months max </p> 
<p> And should have at least 3 new recent updates every time we decide to do so </p> 
</div> 

<div id="preview">
	<h1>Read our 3 latest blog posts below</h1>
	{% for post in site.posts limit:3 %}	
		<h2>{{post.title}}</h2>
		<h2>{{post.date}}</h2>
		<h2>{{post.excerpt}}</h2>
		<h2>Wanna read the rest of these awesome blog posts? Click <a href="{{post.url}}">Here</a></h2>
	{%endfor%}
	
	<h2>Past Blog Posts</h2>
	{% for post in site.posts %}
	    <li><span>{{ post.date | date_to_string }}</span> » <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
	  {% endfor %}
</div>
